<nav class="navbar">
    <span>Alejandro Londoño</span>
    <ul>
        <li><a href="https://www.linkedin.com/in/alejolg/" target="_blank">Linkedln</a></li>
        <li><a href="https://github.com/slydragonn" target="_blank">Github</a></li>
        <li><a href="https://www.youtube.com/@slydragonn" target="_blank">Youtube</a></li>
        <li><a href="https://dev.to/slydragonn" target="_blank">Dev.to</a></li>
        <li class="contact-btn"><a href="mailto:alogo18m@gmail.com">Contact</a></li>
    </ul>
</nav>

<style>
    .navbar {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: calc(100% - 40px);
        height: 50px;
        border-bottom: 1px solid rgb(30, 30, 30, .3);
        background-color: rgb(255, 255, 255, .8);
        backdrop-filter: blur(20px) saturate(200%);
        padding: 0 20px;
    }

    .navbar > span {
        font-weight: 600;
    }

    .navbar > ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 30px;
        font-size: 14px;
    }

    .navbar > ul > li > a {
        color: #1e1e1e;
        text-decoration: none;
        transition: all .3s;
    }
    .navbar > ul > li > a:hover {
        color: orange;
    }

    .navbar > ul > .contact-btn {
        background-color: #1e1e1e;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .navbar > ul > .contact-btn > a {
        color: #fff;
    }

    @media screen and (max-width: 700px) {
        .navbar {
            position: static;
            flex-direction: column;
            height: auto;
            justify-content: center;
            align-items: center;
            width: calc(100% - 20px);
            padding: 10px;
        }

        .navbar > ul {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
        
    }
</style>