---
const {title, description, link} = Astro.props
---

<article class="project-card">
    <h3>{title}</h3>
    <div>
        <a href={link} target="_blank">
            <p>{description}</p>
        </a>
    </div>
</article>

<style>
    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 260px;
        height: 210px;
        padding: 20px;
        background-color: #1e1e1e;
        background: linear-gradient(160deg, rgb(59, 59, 59) 10%, rgba(30,30,30,1) 100%);
        border-radius: 20px;
        color: #fff;
        box-shadow: 0 5px 10px rgb(0, 0, 0, .5);
    }
    
    .project-card > h3 {
        width: 10px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 35px;
        margin: 0;
    }

    .project-card > div {
        border-top: 1px solid #fff;
    }

    .project-card > div > a {
        text-decoration: none;
        color: #d1d1d1;
        font-weight: 300;
        font-size: 14px;
        transition: all .3s;
    }

    .project-card > div > a:hover {
        color: orange;
    }
</style>