---
const { title, description, icon } = Astro.props
---

<article class="skill-card">
    <img src={icon} alt="card icon"/>
    <h3>{title}</h3>
    <p>{description}</p>
</article>

<style>
    .skill-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 260px;
        height: 210px;
        background-color: #1e1e1e;
        border-radius: 10px;
        color: #fff;
        padding: 20px;
    }

    .skill-card > img {
        width: 50px;
    }

    .skill-card > h3 {
        font-size: 20px;
        font-weight: 400;
    }
    .skill-card > p {
        font-weight: 100;
        font-size: 14px;
    }
</style>